<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="magw1010.LS_DBF_Для_Переноса.dbo" connectionString="XpoProvider=MSSqlServer;data source=MAGW1010;integrated security=SSPI;initial catalog=LS_DBF_Для_Переноса" />
        <add name="DXApplication5.Properties.Settings.LS_DBF_Для_ПереносаConnectionString2222"
            connectionString="Data Source=MAGW1010;Initial Catalog=LS_DBF_Для_Переноса;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>